@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}


/*overall theme*/
border{
  color: red;
}

html{
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

/*apply*/
.apply h1{
  font-weight: bold;
}

/* navigation*/
nav ul li {
  display: inline-block;
  padding: 10px;
  font-family: Montserrat;
  font-weight:lighter;
}

nav {
  text-align: right;
}

nav ul li a{
  font-size: 22px;
  text-decoration: none;
  text-align: right;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.heading {
  padding: 20px;
  width: 50%;
}

div {
  padding: 5px;
}

/*eboard*/
.eboard {
  display: flex;
  flex-direction: column;
}

.eboardrow {
  display: flex;
  flex-direction: row;
}

.eboardindividual {
  margin: 15px;
}

.eboardindividual img{
  width: 100%;
}

/*events*/
#upcoming, .past{
  display: flex;
  flex-direction: row;
}

.poster{
  width: 50%;
  margin: 5px;
}

.poster img{
  display: block;
  align-self: center;
  margin: 10px auto;
  width: 100%;
}

.info, #form{
  width: 50%;
}

#upcoming{
  margin-bottom: 30px;
}

/*form*/
label{
  float: left;
  flex-direction: row;
  width: 100px;
  padding-right: 5px;
  text-align: right;
}

input, select, textarea{
  padding-right: 5px;
  width: 250px;
  margin-bottom: 10px;
}

.submit{
  width: auto;
  float: right;
}

.hidden{
  display: none;
}

.errorContainer{
  display: inline-block;
  color: red;
  border-left: 1px red solid;
  padding-left: 0.5em;
  text-align: center;
}

/*index*/
.teamphoto {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 700px;
  font-weight: bold;
  text-shadow: 0 15px 15px rgba(0,0,0,1);
}

.about {
  background-color: rgba(209, 208, 208, 0.75);
}

.main {
  line-height: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

h3 {
  text-align: center;
}
/* mobile*/
@media (max-width: 800px){
  /*nav*/
  nav ul{
    display: flex;
    flex-direction: column;
  }

  nav ul li{
    border: solid maroon;
    text-align: center;
  }

  /*eboard*/
  .eboardrow{
    display: flex;
    flex-direction: column;
  }

  .eboardrow{
    justify-content: center;
  }

  /*events*/
  #upcoming{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .past{
    display: flex;
    flex-direction: column;
  }
  .poster{
    width: 100%;
  }

  .poster img{
    justify-content: space-around;
  }

  .info, #form{
    width: 100%;
  }
}
