@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}


/*overall theme*/
border{
  color: red;
}

html{
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

/* navigation*/
nav ul{
  display: flex;
  justify-content: right;
}

/*eboard*/
.eboard {
  display: flex;
  flex-direction: column
}

.eboardrow {
  display: flex;
  flex-direction: row;
}

.eboardindividual {
  margin: 15px;
}

name+postitiondivTODO{
  justify-content: center;
}

/*events*/
#upcoming, .past{
  display: flex;
  flex-direction: row;
}

.poster{
  flex-grow: 1;
}

.poster img{
  display: block;
  align-self: center;
  margin: 10px auto;
}

.info, #form{
  flex-grow: 1;
}

#upcoming{
  margin-bottom: 30px;
}

/*form*/
label{
  float: left;
  flex-direction: row;
  width: 100px;
  padding-right: 5px;
  text-align: right;
}

input, select, textarea{
  padding-right: 5px;
  width: 250px;
  margin-bottom: 10px;
}

.submit{
  position: absolute;
  left: 800px;
  width: auto;
}

.hidden{
  display: none;
}

.errorContainer{
  display: inline-block;
  color: red;
  border-left: 1px red solid;
  padding-left: 0.5em;
  text-align: center;
}

/*index*/
.teamphoto {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: monospace; /*change font to fit */
  text-transform: uppercase;
  font-size: 300%;
  text-shadow: 0 5px 15px rgba(0,0,0,1);
}


/* mobile*/
