/*overall theme*/
border{
  color: red;
}

/* navigation*/
nav ul{
  display: flex;
  justify-content: right;
}

/*eboard*/

name+postitiondivTODO{
  justify-content: center;
}

/*form*/
.hidden{
  display: none;
}

/* mobile*/
